.pg-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pg-pagination a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 1px;
    border: 1px solid #ccc;
    border-radius: 50%;
    text-decoration: none;
    color: #333;
    /* font-size: smaller; */
}

.pg-pagination a.active {
    background-color: #007bff;
    color: #fff;
}

.pg-pagination a.disabled {
    color: #e9e3e3;
    pointer-events: none;
}


.pg-pagination span {
    display: inline-block;
    padding: 5px 2px;
    margin: 0 1px;
}

.pg-items {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pg-items-selection {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#pg-results {
    margin: 5px 5px;
}

#pg-pages {
    margin: 5px 5px;
}

#pg-select {
    border-radius: 7px;
}